::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #fff;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px !important;
    background-color: #fff;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #7367F0!important;
}
::-webkit-scrollbar {
    background: transparent;
    width: 0 !important;
    height: 0 !important;
}

.donate-now {
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 12px;
}

.donate-now li {
  float: left;
  margin: 0 5px 0 0;
  width: 105px;
  height: 40px;
  position: relative;
}

.donate-now label,
.donate-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
  background: #8b81f3;
  color: white;
  text-align: center;
}

.donate-now label {
  padding: 2px;
  border: 1px solid #CCC;
  border-radius: 10px;
  border-color: #8b81f3;
  cursor: pointer;
  z-index: 90;
}

.donate-now label:hover {
  background: #DDD;
}

.image-preview-container {
    position: relative;
    display: inline-block;
}

.image-input-preview {
    height: 100px !important;
    width: 100px !important;
    border-radius: 10px;
    border: 1px solid black;
}